<?xml version="1.0"?>
<launch>

    <!--ECST Lab World-->
    <!-- <arg name="world_name" default="$(find rover_autonav)/world/ecst_lab.world"/>   -->
    <arg name="world_name" default="$(find rover_autonav)/world/real_world.world"/>

    <!-- XACRO file -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rover_autonav)/urdf/cali_urdf_complete_v3.xacro'" />

    <!-- send fake joint values -->
    <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    </node> -->

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn= "false" output="screen" />

    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.1"/>
    <arg name="roll" default="0"/>
	<arg name="pitch" default="0"/>
	<arg name="yaw" default="0"/>


    <!-- Test Perception/manipulation Pipeline-->
    <!-- <arg name="x" default="3.0282"/>
    <arg name="y" default="10.1044"/>
    <arg name="z" default="0.1"/>
    <arg name="roll" default="0"/>
	<arg name="pitch" default="0"/>
	<arg name="yaw" default="1.570796"/> -->

    <!-- Spawn model -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model rover_autonav -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>" />



    
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world_name)"/>
            <arg name="debug" value="false" />
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="verbose" value="true"/>
    </include>

  

</launch>